* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}
#navbar{
    padding: 30px;
    background: url(plant/pexel1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
#navbar:after{
    display: block;
     clear: both;
     height: 0;
}
/* navbar  */
#menu{ 
    margin: 0 auto;
    height: 4rem;
    background: rgb(255 255 255 / 79%);
    box-shadow: 0 8px 32px 0 rgba(22, 22, 23, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(4px);
    border-radius: 3.5rem;  
    padding: 10px 30px;
    width: 100%; 
}
#menu , #menu ul{
    list-style: none;
}
#menu > li{
     float: right;
     position: relative;
     border-left:1px solid rgba(0, 0, 0, 0.1) ;
     box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
     perspective: 1000px;
     width: auto;
     text-align: center;
     padding: 0 2rem;
}
#menu > li:first-child{
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1) , 1px 0 0 rgba(255, 255 , 255, 0.25);
}
#menu a{
    display: block;
    position: relative;
    z-index: 10;
    padding: 0.7rem 0;
    text-decoration: none;
    color: hsla(114, 62%, 14%, 0.801) ;
    line-height: 1;
    font-size: 1rem;
    background: transparent;
    font-weight: bold;
    transition: all 0.25s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#menu > li:hover > a {
    background: hsla(114, 62%, 14%, 0.801);
    color: rgb(235, 240, 237);
    text-shadow: none;
    padding: 10px;
}
#menu li ul{
    position: absolute;
    right: 0;
    z-index: 1;
    width: 200px;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    border-bottom-left-radius: 4px ;
    border-bottom-right-radius: 4px ;
    background: transparent;
    overflow: hidden;
    transform-origin: 50% 0%;
}
#menu li:hover ul{
    padding: 15px 0;
    background: rgb(255 255 255 / 79%);    
    box-shadow: 0 8px 32px 0 rgba(22, 22, 23, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    opacity: 1;
    visibility: visible;
    animation-name: swing;
    animation-duration: 2s;
    animation-timing-function: ease ;
}
@keyframes swing{
    0%{
        opacity: 0.999999;
        transform: rotateX(90deg);
    }
    30%{
        transform: rotateX(-20deg) rotateY(5deg);
        animation-timing-function: ease-in-out;
    }
    65%{
        transform: rotateX(20deg) rotateY(-3deg);
        animation-timing-function: ease-in-out;    
    }
} 
/* navbar responsive */
#menures{
    height: auto;
    background: rgb(255 255 255 / 79%);
    box-shadow: 0 8px 32px 0 rgba(22, 22, 23, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 1rem;
}
#menures a{
    color: hsla(114, 62%, 14%, 0.801) ;
}
#menures li ul{
    list-style: none;
    text-align: right;
    border: none;
    margin-right: 1.5rem ;
    background: rgb(255 255 255 / 0%);
}
#menures li ul a{
    text-decoration: none;
    color: hsla(114, 62%, 14%, 0.801) ;
}
/* profile */
#profile{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}
.card{
    border: none;
    box-shadow: 0 8px 12px 0 hsla(114, 62%, 14%, 0.801);
}
.card:hover > #profile-img{
    width: 13rem;
    height: 13rem;
    margin: 1.5rem auto ;
}
.card:hover{
    background: rgba(255, 255 , 255, 0.25);
    box-shadow: 0 8px 32px 0 hsla(114, 62%, 14%, 0.801);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(4px);
}
#profile-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 10px 30px  hsla(114, 62%, 14%, 0.801), 0 0 0;
}
#profile-text{
    color: hsla(114, 62%, 14%, 0.801) ;
    font-weight: bold;
}
/* products */
.Product-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}
#Products{
    width: 250px;
    height: 200px;
    background: hsla(114, 62%, 14%, 0.801);
    transition: 0.3s ease-in-out;
}
#Products:hover{
    height: 330px;
}
#Products:hover #Product-content{
    opacity: 1;
    margin-top: 20px;
}
#Product-img{
    width: 200px;
    height: 200px;
    margin: -25px auto;
}
#Product-content{
    color: #fff;
    margin-top: -140px;
    opacity: 0;
    text-align: center;
    transition: 0.3s ease-in-out;
}
#Products span{
    transition: 0.5s;
    opacity: 0;
}
#Products:hover span{
    opacity: 1;
}
/* hostory */
.History{
    height: auto;
    background: #136005bf;
    margin: 3rem auto;
    border-radius: 1rem;
    box-shadow: 0 10px 30px  hsla(114, 62%, 14%, 0.801), 0 0 0;
    position: relative;
}
.History h4{
    color: hsla(41, 73%, 63%, 0.801) ;
}
.History p{
    color: #c6cc76;
    line-height: 1.5;
}
.History-box{
    position: relative;
}
.History-img {
    width: 200px;
    height: 200px;
    box-shadow: 0 8px 32px 0 rgba(22, 22, 23, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(4px);
}
.History-border{
    width: 200px;
    height: 200px;
    transform: rotate(45deg); 
    background: rgba(255, 255 , 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(22, 22, 23, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(4px);
}
/* form comment */
.comment {
    height: auto;
    padding: 5% 20%;
    background: #136005bf;
    color: hsla(41, 73%, 63%, 0.801) ;
    font-weight: bold;
    margin: 2rem auto;  
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 8px 32px 0 rgba(22, 22, 23, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(4px);
}
.comment input {
    width: 100%;
    border-radius: 0.4rem;
    border: #a0a0a0 solid 0.1rem;
}
.comment-submit {
    width: fit-content;
    padding: 0.5rem 1rem;
    position: relative;
    right: 70%;
    margin-top: 1rem;
    background: #6a9064;
    color: #c8b058;
}
/* footer */
.custom-shape-divider-bottom-1627716028 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1627716028 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height:7rem;
}

.custom-shape-divider-bottom-1627716028 .shape-fill {
    fill: hsl(115, 61%, 14%);
}
#footer{
    width: 100%;
    height: auto;
    background:hsl(115, 61%, 14%) ;
    color: hsla(41, 73%, 63%, 0.801) ;
    font-weight: bold;
    text-align: center;
}
.img-footer{
    width: 6rem;
}
#footer , #footer ul{
    list-style: none;
    padding: 0;
}
#footer label{
    font-size: 1.2rem;
    color: #c6cc76;
    margin-bottom: 0.8rem;
}
#footer a{
    text-decoration: none;
    line-height: 2;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem auto;
    color: hsla(41, 73%, 63%, 0.801) ;
}
